# Ansible 配置文件

[defaults]
inventory = inventory.yaml
host_key_checking = False
retry_files_enabled = False
gathering = smart
fact_caching = memory
roles_path = ../roles

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False
